/* Estilos para resaltar el Col seleccionado */
.noticeCategories .selected {
  background-color: #00743b;
  color: #ffffff;
  cursor: pointer;
}

.noticeCategories .noSelected {
  background-color: #ffffff;
  border-color: #00743b;
  border-top: solid 1px #00743b;
  cursor: pointer;
}
