/* Estilos para resaltar el Col seleccionado */
.noticeCategories .selected {
    background-color: #00743B;
    color: #ffffff;
    cursor: pointer;
  }

.noticeCategories .noSelected {
    background-color: #ffffff;
    border-inline-end-style: solid;
    cursor: pointer;
}