
/*Styles for animation cards init */
.areasApplication .col {
  perspective: 1000px;
}

.areasApplication .image-container {
  position: relative;
  width: 335px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.areasApplication .image-container img {
  width: auto;
  height: 100%;
}

.areasApplication .image-container:hover {
  transform: rotateY(180deg);
  transition: transform 1.3s;
}

.areasApplication .front,
.back {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  backface-visibility: hidden;
}

.areasApplication .back {
  transform: rotateY(180deg);
}

.areasApplication .text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: black;
  height: 100%;
}

.areasApplication .area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #00743b;
  opacity: 0.7;
  border-radius: 20px;
  padding: 5px 40px;
  color: white;
  font-weight: bold;
}
/*Styles for animation cards end */
