.carousel .carousel-btn{
    background-color: #00743b;
    text-decoration: none ;
    border-radius: 0px 30px 30px 30px;
    padding: 10px 30px;
    color: white;    
    font-size: 1.5rem;
}

.carousel .carousel-image{
    object-position: 4% 0%;
    width: 100%;
}

@media (max-width:900px) {
    .carousel .carousel-image{
        height: 800px;
    }
}

@media (max-width:450px) {
    .carousel .carousel-image{
        height: 450px;
    }

    .carousel .carousel-btn{
        font-size: 1rem;
    }
}

@media (max-width:400px) {
    .carousel .carousel-image{
        height: 350px;
    }
}