.floatContainer .contactButton{
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  background-color: #00743b;
  position: fixed;
  bottom: 80px;
  right: 20px;
  box-shadow: 0px 3px 12px rgb(57, 218, 97);
  transition: background-color 0.8s ease;
}

.floatContainer .active{
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  background-color: blue;
  position: fixed;
  bottom: 80px;
  right: 20px;
  box-shadow: 0px 3px 12px rgb(86, 57, 218);
  transition: background-color 0.8s ease;
}

.floatContainer .telButton{
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  background-color: #00743b;
  position: fixed;
  bottom: 140px;
  right: 20px;
  box-shadow: 0px 3px 12px rgb(57, 218, 97);
}

.floatContainer .telButton:hover{
  background-color: white;
  
}

.floatContainer .wppButton{
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  background-color: #00743b;
  position: fixed;
  bottom: 200px;
  right: 20px;
  box-shadow: 0px 3px 12px rgb(57, 218, 97);
}

.floatContainer .wppButton:hover{
  background-color: white;
}


.floatContainer svg{
  color: white;
  font-size: 50px;
  padding: 10px;
}

.floatContainer svg:hover{
  color: #00743b;
}
.floatContainer .contactButton svg:hover{
  color: white;
}
.floatContainer .active svg:hover{
  color: white;
}