.contenedor{
  position: fixed;
  writing-mode: vertical-rl;
  right: 0;
  width: auto;
  height: 150px;
  top: 40%;
}

.boton-flotante{
  position: relative;
  height: 90%;
  width: 1.9rem;
  background-color: #00743B;
  border: none;
  border-radius: 1rem 0 0 1rem;
  color: white;

}

.botones-adicionales{
  position: relative;
  writing-mode: horizontal-tb;
}

.boton-redondo{
  display: block;
  background-color: transparent;
  color: #00743B;
  font-size: 2rem;
  margin: 1rem;
  width: 50%;
  height: 50%;

}

