
/* Contenido */
.content {
  width: 100% !important;
}
.content img {
  max-width: 100% !important;
  height: auto;
}

.content table {
  max-width: 100% !important;
  margin: 0 !important;
}

.content tbody{
  width: 50% !important;
}

.content table td {
  width: 50% !important;
  
}

.content video {
  max-width: 100% !important;
  height: auto;
}

/* @media (max-width: 750px) {
  .content h1 {
    font-size: 22px !important;
  }
}
*/
@media (max-width: 360px) {
  .content table td{
    word-break: break-all;
  }
} 
