.footer {
    height: 100%;
    background-color: #00743b;

}

.footer svg:hover{
   transform: scale(1.2);
}

.footer a:hover{
    transform: scale(1.1);
    color: white;
}

.footer a{
    text-decoration: none;
    color: #fff;
}
.footer p{
    text-decoration: none;
    color: #fff;
}
.footer strong{
    text-decoration: none;
    color: #fff;
}
