.SummaryButton {
    position: relative;
    width: 20%;
    min-width: 150px;
    height: 0px;
    border-left: 20px solid #00743b;
    border-bottom: 50px solid #00743b;
    border-radius: 0px 30px 0px 0px;
  }