.summary {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.summary .image-summary{
 width: 100%;
}

.summaryButton {
  cursor: pointer;
  position: relative;
  width: 30%;
  height: 0px;
  border-left: 20px solid #00743b;
  border-bottom: 40px solid #00743b;
  border-radius: 0px 30px 0px 0px;
}

.summaryLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  resize: horizontal;
}

.summaryButton svg {
  font-size: 2rem;
  padding: 2px;
}

.summary .text-summary {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 90%;
  margin-top: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 120px;
}

@media (min-width: 1801px) {
  .summary .text-summary {
    margin-left: 50px;
    font-size: 2rem;    
    margin-top: 250px;
  }
}

@media (max-width: 1800px) {
  .summary .text-summary {
    margin-left: 20px;
    margin-top: 150px;    
    font-size: 1.6rem;  
  }

}

@media (max-width: 1024px) {
  .summary .text-summary{
    margin-left: 0px;
    margin-top: 120px;
    font-size: 1.2rem;
  }
}

@media (max-width: 728px) {
  .summary .text-summary{
    font-size: 1rem;
  }
  .summary .image-summary{
    height: 350px;
  }
  .summaryButton{
    width: 45%;
  }
 
}

@media (max-width: 480px) {
  .summaryButton{
    width: 60%;
  }
}

@media (max-width: 320px) {
  .summaryButton{
    width: 70%;
  }
}

/* 


@media (min-width: 1000px) {
  .summary .text-summary {
    font-size: 1.4rem;    
  }
}

@media (max-width: 770px) {
  .summary .text-summary {
    width: 70%;

  }
  .summaryButton {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .summary img{
    height: 350px;
  }
  .summary .text-summary {
    width: 80%;
    margin-top: 80px;
  }
  .summaryButton {
    width: 60%;
  }

}
@media (max-width: 390px) {
  .summary .text-summary {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .summary .text-summary {
    width: 95%;
  }
  .summaryButton p {
    font-size: 0.8rem;
  }
  .summaryButton svg {
    font-size: 1.7rem;
    padding: 2px;
  }
} */
