.areasApplication {
  width: 100%;
  min-height: 300px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.areasApplication .areas-label{
  position: absolute;
  color: white;
  background-color: #00743b;
  padding: 1% 12%;
  border-radius: 20px;
  opacity: 0.8;
}

.areasApplication .animatedDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  
}
.areasApplication .containerAnimation{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.areasApplication .animatedImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.areasApplication .animatedText{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.areasApplication .text{
  padding: 5px;
  text-align: center;
}

@media(max-width:500px) {
  .areasApplication .text{
    padding: 0px;
    font-size: 0.9rem;
  }
}