/* se considera en un rango >1000 y <1400 */
.contentCaption{
    text-align: center;
    margin: 30px 0px 30px 60px;
    padding: 0;
}
.contentCaption h1{
    padding-top: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.desc{
    position: absolute;
    height: 100%;
    top: 20;
    right: 10;
    word-wrap: break-word;
    background-color: aqua;
}

.contentCaption a{
    font-size: 1rem;
}

 @media (min-width: 1200px) {
    .contentCaption p{
        font-size: 1.5rem;
    }
    
    .contentCaption a{
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .contentCaption{
        margin: 20px 10px 20px 80px;
        padding: 0;
    }
    .contentCaption h1{
        padding-top: 0px !important;
        font-size: 0.9rem;
    }
    .contentCaption p{
        font-size: 0.7rem !important;
    }
    
    .contentCaption a{
        font-size: 0.7rem;
    }
} 

@media (max-width: 350px) {
    .contentCaption{
        margin: 15px 10px 15px 70px;
        padding: 0;
    }
    .contentCaption h1{
        padding-top: 0px !important;
        font-size: 0.8rem;
    }
    .contentCaption p{
        font-size: 0.6rem !important;
    }
    
    .contentCaption a{
        font-size: 0.6rem;
    }
} 