.filosofy {
  width: 100%;
  min-height: 200px;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.filosofy .animatedDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  
}
.filosofy .containerAnimation{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.filosofy .animatedImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filosofy .animatedText{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.filosofy .text{
  padding: 10px;
  text-align: center;
}

@media (max-width: 430px) {
  .filosofy {
    min-height: 150px;
  }
}

@media (max-width: 330px) {
  .filosofy {
    min-height: 100px;
  }
}