.areasApplication {
  width: 100%;
  min-height: 200px;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.areasApplication .animatedDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  
}
.areasApplication .containerAnimation{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.areasApplication .animatedImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.areasApplication .animatedText{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.areasApplication .text{
  padding: 10px;
  text-align: center;
}


/* Styles for animation cards init */
.filosofy .collage-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1500px) {
  .filosofy .collage-row {
    grid-gap: 15px;
  }
}

@media (max-width: 915px) {
  .filosofy .collage-row {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); /* Cambio de 300px a 200px */
    grid-gap: 20px;
  }

  .filosofy .image-container {
    height: 130px !important;
  }

  .filosofy .text{
    height: 50% !important;
    font-size: 12px !important;
  }

  .filosofy .area {
    font-size: 20px !important;
  }
}

@media (max-width: 768px) {
  .filosofy .collage-row {
    grid-gap: 5px !important;
  }

  .filosofy .image-container{
    height: 110px !important;
  }

  .filosofy .area {
    font-size: 18px !important;
  }
}

@media (max-width: 430px) {
  .areasApplication {
    min-height: 150px;
  }
  .filosofy .collage-row {
    grid-gap: 14px !important;
  }
}

@media (max-width: 340px) {
  .filosofy .collage-row{
    grid-gap: 0px !important;
  }
  .filosofy .image-container {
    height: 100px !important; /* Ajustar la altura de las imágenes */
  }

  .filosofy .area {
    font-size: 18px !important;
  }
}

.filosofy .collage-col {
  perspective: 1000px;
}
.filosofy .image-container {
  width: 99%;
  max-height: 99%;
  height: 201px;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.filosofy .image-container img {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.filosofy .image-container:hover {
  transform: rotateY(180deg);
  transition: transform 1.3s;
}

.filosofy .front,
.back {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  backface-visibility: hidden;
}

.filosofy .back {
  transform: rotateY(180deg);
}

.filosofy .text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: black;
  height: 100%;
}

.filosofy .area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
/*Styles for animation cards end */
