.filosofy {
  width: 100%;
  min-height: 200px;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.filosofy .animatedDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  
}
.filosofy .containerAnimation{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.filosofy .animatedImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filosofy .animatedText{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filosofy .text{
  padding: 10px;
  text-align: center;
}

@media (min-width: 1801px) {
  .filosofy {
    min-height: 250px;
  }
}

@media (max-width: 1800px) {
  .filosofy {
    min-height: 200px;
  }
}


@media (max-width: 1024px) {
  .filosofy {
    min-height: 220px;
  }
}

@media (max-width: 480px) {
  .filosofy {
    min-height: 150px;
  }
  .filosofy .text{
    padding: 0px;
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .filosofy {
    min-height: 120px;
  }
  .filosofy .text{
    padding: 0px;
    font-size: 0.7rem;
  }
}